<div class="row">
<div>
<div class="panel panel-default">
<div class="panel-heading">
<div><h3>{{blog.blogName}}</h3></div>
<br>
<br>
<span><strong>Created By:</strong>{{blog.postedBy.userId}}</span>
<br>

<span><strong>Created On:</strong>{{blog.postedOn | date:'medium'}}</span>

</div>
<div class="panel-body">
{{blog.blogContent}}
</div>
</div>

</div>
</div>
{{blog.likes}}
<a><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'" ng-click="updateLikes()"></span></a>
<br>
<br>

<h5>COMMENTS</h5>
<ul>
<li ng-repeat="blogComment in blogComments" style="list:'none'">
{{blogComment.commentText}}
<span><strong>Commented By:</strong>{{blogComment.commentedBy.userId}}</span>
<br>

<span><strong>Commented On:</strong>{{blogComment.commentedOn | date:'medium'}}</span>
</li>
</ul>
<div>
<textarea row="3" cols="40" ng-model="blogComment.commentText"></textarea>
<input type="submit" value="POST COMMENT" ng-click="addComment()">


</div>